@import "tailwindcss";

:root {
  font-family: "Poppins", "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1f2937; 
  background-color: #f9fafb; 

  --width-sidebar: 18rem;
  --height-header: 5rem;

  --primary-blue: #274480;
  --primary-blue-hover: #3A5BAA;
  --primary-yellow: #deae52;
  --light: #f5f5f5;
}

body {
  background-color: var(--light);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer components {
  .p-galleria-indicator button {
    @apply bg-gray-300 w-3 h-3 rounded-full transition-transform duration-300 ease-in-out;
  }

  .p-galleria-indicator.p-highlight button {
    @apply !bg-[var(--primary-blue)] scale-125;
  }

  .p-galleria-indicator button:hover {
    @apply bg-purple-300 scale-110;
  }
}

/* --- HEADER MẶC ĐỊNH --- */
.p-datatable .p-column-header-content {
  color: var(--primary-blue);
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

/* --- ICON SORT MẶC ĐỊNH --- */
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: var(--primary-blue);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s;
}

/* --- KHI HOVER HEADER --- */
.p-datatable .p-sortable-column:hover .p-column-header-content {
  color: var(--primary-yellow);
}

.p-datatable .p-sortable-column:hover .p-sortable-column-icon {
  color: var(--primary-yellow);
  opacity: 1;
}

/* --- KHI ĐANG SORT --- */
.p-datatable .p-sortable-column.p-highlight {
  background-color: var(--primary-blue) !important;
}

.p-datatable .p-sortable-column.p-highlight .p-column-header-content {
  color: var(--primary-yellow) !important;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--primary-yellow) !important;
  opacity: 1;
}
