@import "tailwindcss";

:root {
  font-family: "Poppins", "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1f2937; /* xám đậm */
  background-color: #f9fafb; /* nền sáng nhẹ */

  --primary-blue: #274480;
  --primary-yellow: #deae52;
  --light: #f5f5f5;
}

html {
  background-color: var(--light);
}