@import "tailwindcss";

:root {
  font-family: "Poppins", "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1f2937; 
  background-color: #f9fafb; 

  --width-sidebar: 18rem;
  --height-header: 5rem;

  --primary-blue: #274480;
  --primary-blue-hover: #3A5BAA;
  --primary-yellow: #deae52;
  --light: #f5f5f5;
}

body {
  background-color: var(--light);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}

/* animation */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.slide-down {
  animation: slideDown 0.35s ease-out forwards;
}

.slide-up {
  animation: slideUp 0.3s ease-in forwards;
}

@layer components {
  .p-galleria-indicator button {
    @apply bg-gray-300 w-3 h-3 rounded-full transition-transform duration-300 ease-in-out;
  }

  .p-galleria-indicator.p-highlight button {
    @apply !bg-[var(--primary-blue)] scale-125;
  }

  .p-galleria-indicator button:hover {
    @apply bg-purple-300 scale-110;
  }
}

/* --- HEADER MẶC ĐỊNH --- */
.p-datatable .p-column-header-content {
  color: var(--primary-blue);
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

/* --- ICON SORT MẶC ĐỊNH --- */
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: var(--primary-blue);
  opacity: 0.8;
  transition: color 0.2s ease-in-out, opacity 0.2s;
}

/* --- KHI HOVER HEADER --- */
.p-datatable .p-sortable-column:hover .p-column-header-content {
  color: var(--primary-yellow);
}

.p-datatable .p-sortable-column:hover .p-sortable-column-icon {
  color: var(--primary-yellow);
  opacity: 1;
}

/* --- KHI ĐANG SORT --- */
.p-datatable .p-sortable-column.p-highlight {
  background-color: var(--primary-blue) !important;
}

.p-datatable .p-sortable-column.p-highlight .p-column-header-content {
  color: var(--primary-yellow) !important;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--primary-yellow) !important;
  opacity: 1;
}

/* radio button */
.p-radiobutton .p-radiobutton-box {
  border-color: var(--primary-blue) !important; /* màu tím pastel */
}

.p-radiobutton .p-radiobutton-box {
  background-color: var(--primary-blue) !important;
}
.p-radiobutton-icon {
  background-color: var(--primary-yellow) !important;
}

/* check box */
.p-checkbox .p-checkbox-box {
  border: 2px solid var(--primary-blue);
  background: var(--primary-blue);
  width: 22px;
  height: 22px;
  border-radius: 50%; 
  transition: all 0.2s ease;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: var(--primary-blue);
  border-color: var(--primary-blue);
}

.p-checkbox .p-checkbox-box:hover {
  border-color: var(--primary-blue-hover);
}

.p-checkbox .p-checkbox-icon {
  color: white !important;
  font-size: 14px;
  margin-top: 0px;  
  margin-left: 0px;
}